# Crime Data

Originally used this API to call all types of crime data based in the Barnet Polygon for a chosen month. This was then formed into a CSV file to give Barnet Crime Data. This code is purely here to show as an example but it was not the months used as ths API is constantly updating and changing it's data, even for certain months.

In [2]:
import requests
import pandas as pd

# Coordinates for Barnet in the required format
#coordinates = "51.55519092818953,-0.30557383443798025:51.670170250593905,-0.30557383443798025:51.670170250593905,-0.12909406402138046:51.55519092818953,-0.12909406402138046:51.55519092818953,-0.30557383443798025"
#url = f"https://data.police.uk/api/crimes-street/all-crime?poly={coordinates}"

# API request
#response = requests.get(url)
#crimes = response.json()

# Convert the JSON data to a DataFrame
#if crimes:
 #   df = pd.DataFrame(crimes)

    # Selecting specific columns if needed, or modify as required
  #  df = df[['category', 'location_type', 'location', 'context', 'outcome_status', 'persistent_id', 'id', 'location_subtype', 'month']]

    # Save the DataFrame to a CSV file
   # df.to_csv('barnet_crimes.csv', index=False)
    #print("Data has been written to barnet_crimes.csv")
#else:
 #   print("No data available for the given date.")

# I will now show you the dataset that was given after conducting this

In [4]:
crime_data = pd.read_csv('barnet_crimes.csv')

In [5]:
crime_data.head()

,category,location_type,location,context,outcome_status,persistent_id,id,location_subtype,month
0,anti-social-behaviour,Force,"{'latitude': '51.581318', 'street': {'id': 166...",NaN,NaN,NaN,118521436,NaN,2024-04
1,anti-social-behaviour,Force,"{'latitude': '51.566286', 'street': {'id': 167...",NaN,NaN,NaN,118532989,NaN,2024-04
2,anti-social-behaviour,Force,"{'latitude': '51.594021', 'street': {'id': 166...",NaN,NaN,NaN,118533135,NaN,2024-04
3,anti-social-behaviour,Force,"{'latitude': '51.595721', 'street': {'id': 167...",NaN,NaN,NaN,118533140,NaN,2024-04
4,anti-social-behaviour,Force,"{'latitude': '51.565196', 'street': {'id': 166...",NaN,NaN,NaN,118533141,NaN,2024-04

In [7]:
crime_data.shape

(5537, 9)